// @import "../../app.scss";

// .sidebar {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   background-color: white;
//   color: black;
  


//   .bg {
//     position: fixed;
//     top: 0;
//     left: 0;
//     bottom: 0;
//     width: 350px;
//     background: white;
//     z-index: 999;

//     @include mobile {
//       width: 200px;
//     }

//     .links {
//       position: absolute;
//       width: 100%;
//       height: 100%;
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       justify-content: center;
//       gap: 20px;

//       a {
//         font-size: 27px;

//         @include mobile {
//           font-size: 20px;
//         }
//       }
//     }
//   }

//   button {
//     z-index: 999;
//     position: fixed;
//     width: 50px;
//     height: 50px;
//     border-radius: 50%;
//     position: fixed;
//     top: 25px;
//     left: 25px;
//     background-color: transparent;
//     border: none;
//     cursor: pointer;
//   }
// }


@import "../../app.scss";

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: var(--text-primary);

  .bg {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 350px;
    background: var(--bg-secondary);
    z-index: 999;
    transition: background 0.3s ease;

    @include mobile {
      width: 200px;
    }

    .links {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;

      a {
        font-size: 27px;
        color: var(--text-primary);
        transition: color 0.3s ease;

        &:hover {
          color: var(--accent-color);
        }

        @include mobile {
          font-size: 20px;
        }
      }
    }
  }

  button {
    z-index: 999;
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 25px;
    left: 25px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    
    svg {
      display: block;
      margin: auto;
    }
  }
}


// @import "../../app.scss";

// .sidebar {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   background-color: var(--bg-primary);
//   color: var(--text-primary);
//   transition: background-color 0.3s ease, color 0.3s ease;

//   .bg {
//     position: fixed;
//     top: 0;
//     left: 0;
//     bottom: 0;
//     width: 350px;
//     background: var(--bg-secondary);
//     z-index: 999;
//     transition: background 0.3s ease;

//     @include mobile {
//       width: 200px;
//     }

//     .links {
//       position: absolute;
//       width: 100%;
//       height: 100%;
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       justify-content: center;
//       gap: 20px;

//       a {
//         font-size: 27px;
//         color: var(--text-primary);
//         transition: color 0.3s ease;

//         &:hover {
//           color: var(--accent-color);
//         }

//         @include mobile {
//           font-size: 20px;
//         }
//       }
//     }
//   }

//   button {
//     z-index: 999;
//     position: fixed;
//     width: 50px;
//     height: 50px;
//     border-radius: 50%;
//     top: 25px;
//     left: 25px;
//     background-color: transparent;
//     border: none;
//     cursor: pointer;
//   }
// }