@import "../../app.scss";

.cursor{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--text-primary);
  position: fixed;
  z-index: 999;

  @include mobile{
    display: none;
  }
}